<div class="container">
  <h3 class="mt-4 mb-3">予定編集</h3>
  <hr>
  <%= form_with model: @calendar, url: calendar_path do |f| %>
  <div class="form-group row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <%= f.label :title, "タイトル", class: "col-form-label pb-2" %>
      </div>
      <div class="col-md-6 m-auto">
        <%= f.text_field :title, :placeholder =>"タイトル", autofocus: true, autocomplete: "title", class: "form-control mb-2" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.label :body, "内容", class: "col-form-label pb-2" %>
      </div>
      <div class="col-md-6 m-auto">
        <%= f.text_field :body, :placeholder =>"内容", autofocus: true, autocomplete: "body", class: "form-control mb-2" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.label :start_time, "時間", class: "col-form-label pb-2" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.datetime_select :start_time %>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <span><%= f.submit "更新", class: 'btn btn-success' %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
