<div class="container">
  <h3 class="mt-4 mb-3">予定詳細</h3>
  <hr>
  <div class="row mb-4">
    <div class="col-md-10">
      <span><%= link_to "編集", edit_calendar_path(@calendar), class: "btn btn-success" %></span>
      <span class="ml-4"><%= link_to "削除", calendar_path, method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></span>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-2">タイトル</div>
    <div class="col-md-10"><%= @calendar.title %></div>
  </div>
  <div class="row mb-4">
    <div class="col-md-2">内容</div>
    <div class="col-md-10"><%= @calendar.body %></div>
  </div>
  <div class="row mb-4">
    <div class="col-md-2">時間</div>
    <div class="col-md-10"><%= @calendar.start_time.strftime("%m月%d日") %>～</div>
  </div>
</div>