<!DOCTYPE html>
<html>
  <head>
    <title>Calendars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fw-bolder">
    <header>
      <nav class="nav navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand">
            <h4 class="text-black font-italic">カレンダー</h4>
          </a>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
